.footer{
    width: 100%;
    color: var(--secondary-dark);
    padding: 3rem 1rem;
    padding-top: 0;
}

.footer .container{
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul{
    display: flex;
    justify-content: center;
}

.footer li{
    padding: 1rem;
}

.footer li a {
    color: var(--secondary-dark);
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--primary);
}

.bottom{
    text-align: center;
    padding-top: 3rem;
}

.bottom p{
    font-size: .8rem;
}

.line{
    margin-bottom: 1rem;
}