@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
  --primary: #911ebf;
  --primary-dark: #52126b;
  --secondary: #474dff;
  --secondary-dark: #232686;
  --overlay: rgba(0, 0, 0, .7);
  /*--bg: rgba(32, 14, 65, 0.60);*/
  --bg: rgb(15, 17, 46);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
}

a{
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style: none;
}

button{
  padding: 17px 28px;
  font-size: 1rem;
  color: #fff;
  font-weight: 200;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover{
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line{
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary);
}